<header>
  <nav>
    <div id="Logo">
      <img src="../assets/moodylogo.png" alt="Logo" />
    </div>
    <div>
      <ul>
        <li>
          <a href="../pages/index.html"><i class="fas fa-home"></i> בית</a>
        </li>
        <li>
          <a href="../pages/diary.html"
            ><i class="fas fa-journal-whills"></i> יומן</a
          >
        </li>
        <li>
          <a href="../pages/content.html"
            ><i class="fas fa-book-open"></i> תכנים</a
          >
        </li>
        <li>
          <a href="../pages/statistics.html"
            ><i class="fas fa-chart-line"></i> סטטיסטיקה</a
          >
        </li>
        <li>
          <a href="../pages/tips.html"
            ><i class="fas fa-lightbulb"></i> טיפים</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
