<header>
  <nav>
    <div id="Logo">
      <img
        src="https://cdn.glitch.global/2f78fda1-40a6-42d5-9273-c8536ce5e71b/moodylogo.png?v=1747676701445"
        alt="Logo"
      />
    </div>
    <div>
      <ul>
        <li><a href="./index.html">בית</a></li>
        <li><a href="./pages/diary.html">יומן</a></li>
        <li><a href="./pages/about-us.html">אודותינו</a></li>
        <li><a href="./pages/statistics.html">סטטיסטיקה</a></li>
        <li><a href="./pages/tips.html">טיפים</a></li>
      </ul>
    </div>
  </nav>
</header>
