body {
  background: radial-gradient(
    circle at 80% 20%,
    var(--blue-50) 0%,
    var(--blue-200) 50%,
    var(--blue-400) 100%
  );
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background: var(--blue-overlay-light);
  box-shadow: 0 8px 32px var(--blue-overlay-dark);
}
