:root {
  --color-happy: #f9df89;
  --color-sad: #669be9;
  --color-angry: #e84f49;
  --color-anxious: #9c74ca;
  --color-excited: #ffa224;
  --color-envy: #3bb3a7;
}

body {
  background: radial-gradient(
    circle at 80% 20%,
    var(--blue-50) 0%,
    var(--blue-200) 50%,
    var(--blue-400) 100%
  );
}

#piechart {
  position: absolute;
  left: 50%;
  top: 45%; /* שינוי מ-50% ל-45% */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 800px;
  height: 600px;
  background: var(--blue-overlay-light);
  border-radius: 15px; /* פינות מעוגלות */
  box-shadow: 0 8px 32px var(--blue-overlay-dark); /* צל עדין */
  backdrop-filter: blur(10px); /* אפקט טשטוש */
}
